.header__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 590px) {
  .header__menu {
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .5s ease-in-out;
  }
}
