.hamburger_animate {
  background: transparent;
}

.hamburger_animate::after {
  top: 0;
  transform: rotate(45deg);
  transition: top .5s cubic-bezier(.25, 1, .5, 1),
    transform .5s .3s cubic-bezier(.25, 1, .5, 1);
}

.hamburger_animate::before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom .5s cubic-bezier(.25, 1, .5, 1),
    transform .5s .3s cubic-bezier(.25, 1, .5, 1);
}
