.info-list__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #2D3436;
  transition: .3s ease-in;
}

.info-list__link:hover {
  text-decoration: underline;
}

.info-list__link:active {
  text-decoration: underline;
}
