.footer__button-submit {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: .25px;
  height: 80px;
  width: 170px;
  margin: 30px 0 0;
  background: #6C5CE7;
  border: solid 2px transparent;
  color: #fff;
  text-shadow: 0 2px 4px rgba(38, 50, 56, .16),
               0 4px 8px rgba(38, 50, 56, .08);
  text-transform: uppercase;
  box-shadow: 0 8px 24px rgba(38, 50, 56, .1),
              0 16px 32px rgba(38, 50, 56, .08);
}

.footer__button-submit:hover {
  color: #6C5CE7;
  border-color: #ADADAD;
  background-color: #fff;
  box-shadow: none;
  text-shadow: none;
}



